.menu-category-container {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-category-form {
    background-color: #fff;
    border-radius: 10px;
}

.menu-category-form input, 
.menu-category-form textarea {
    padding: 10px;
    font-size: 1em;
}

.menu-category-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.menu-category-form button:hover {
    background-color: #0056b3;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-item {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    /* Ensures all cards have the same size */
    width: 365px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ensures all images have the same size */
.category-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #dee2e6;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    color: #fff;
}
